* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  background: #eee;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #F5F5F5;
}
html,
body {
  height: 100%;
  font-size: 14px;
}
